.smart {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(155, 89, 182,1.0),rgba(52, 73, 94,1.0));
}

.child {
    width: 100%;
    position: absolute;
    top: 35%;
    pointer-events: auto;
}



.txt {
    font-size: 4rem;
    color: #ffffff;
    letter-spacing: 4px;
    text-align: center;
    font-family: "Times", sans-serif;
}

.txxt {
    /* line-height: 1.25;
    color: #ffffff;
    font-family: "Arial Narrow", sans-serif;
    font-size: 3rem;
    letter-spacing: 4px;*/
    color: #ffffff;
    letter-spacing: 4px;
    text-align: center;
    font-family: "Times", sans-serif;
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btnn {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #f4f4f4;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
}

    .btnn:hover {
        box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
        font-size: 1.5rem;
        padding: 1rem 3rem;
        color: #f4f4f4;
        text-transform: uppercase;
    }

    .btnn:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient( 120deg, transparent, rgba(146, 148, 248, 0.4), transparent );
        transition: all 650ms;
    }

    .btnn:hover:before {
        left: 100%;
    }

